<!-- This is the page to your your own profile page -->
<div class="row profile-photobar">
  <div class="col-lg-3 main-left">
    <div class='profile-photo'>
      <img src=<%= @user.picture_url%>>
    </div>
    <div class="profile-info">
    <%= @user.first_name %> <%= @user.last_name %>
    </div>
  </div> 
</div>

<div class="row"> 
  <div class=" col-lg-3 main-left">
    <h3>Requests for your books</h3>
  <% @user.books.each do |book| %>
    <% if book.requests && ( request = book.requests.find_by(attended_to: false) ) %>
        <p>
          <a href="/users/<%= request.borrower_id %>">
          <%= User.find(request.borrower_id).first_name %> <%= User.find(request.borrower_id).last_name %> 
          </a> wants to borrow <%= book.title %>.
        </p>
        <p>
          <p>Books are due <em>7 days</em> from checkout by default</p>
          <form method="post" action="/books/:id/lend">
            <input type="hidden" name="book_id" value="<%= book.id %>">
            <input type="hidden" name="borrower_id" value="<%= request.borrower_id %>">
            <input type="hidden" name="checkout" value="<%= Date.today %>">
            <label>Due date: </label><input type="date" name="due" value="<%= (Date.today + 7.days) %>">
            <input type="hidden" name="request_id" value="<%= request.id %>">
            <button class="btn button">Approve Request</button>
          </form>
        </p>
          <form method="post" action="/books/:id/denied">
            <input type="hidden" name="book_id" value="<%= book.id %>">
            <input type="hidden" name="request_id" value="<%= request.id %>">
            <button class="btn button">Deny Request</button>
          </form>
        <p>
          
        </p>
    <% end %>
  <% end %>
  </div>
  <div class=" col-lg-9 main-right">
    <div class='row shelves'>
      <div class="row inner-shelves">
        <div class="col-sm-3 book-container">
          <a href="/books/new">
            <img src="/images/addbook.ico">
            <div class="add-book">Add book</div>
          </a>  
        </div>
        <% @user.books.each_with_index do |book, index| %>
          <% if index < 3 %>
            <div class="col-sm-3 book-container">
              <a href="/books/<%= book.id %>">
                <img src= <%= book.picture_url %> >
                <div class="book-own">Your book</div>
              </a>
            </div>
          <% end %> 
        <% end %> 
      </div>    
    </div>   

    <% if @user.books.length > 3 %>
      <% @user.books[3..-1].each_slice(4) do |books| %>       
        <div class='row shelves'>
          <div class="row inner-shelves">
            <% books.each do |b| %>
              <div class="col-sm-3 book-container">
                <a href="/books/<%= b.id %>">
                <img src= <%= b.picture_url %> >
                <div class="book-own">Your book</div>
                </a>
              </div>
            <% end %>
          </div>    
        </div>
      <% end %>
    <% end %> 

    <% if @lends %> 
      <% @lend_book_id.each_slice(4) do |books_id| %>       
        <div class='row shelves'>
          <div class="row inner-shelves">
            <% books_id.each do |id| %>
              <div class="col-sm-3 book-container">
                <a href="/books/<%= id %>">
                <img src= <%= Book.find(id).picture_url %> >
                <div class="book-lend">Lend book</div>
                </a>
              </div>
            <% end %>
          </div>    
        </div>
      <% end %>
    <% end %>  
  </div>
</div>
  


