<!-- This is the page to your your own profile page -->
<div class="row profile-photobar">

    <div class='col-sm-3 profile-photo'>
        <img src=<%= @user.picture_url%>>
    </div>
    <div class="col-sm-4 profile-info">
        <%= @user.first_name %> <%= @user.last_name %>
    </div>
</div>

<div class="row profile-background-wall"> 
  <div class=" col-sm-3 main-left">
    <div class="request-form">
    <h3>Requests for your books</h3>
    <% @user.books.each do |book| %>
    <% if book.requests && ( request = book.requests.find_by(attended_to: false) ) %>
        <p>
          <a href="/users/<%= request.borrower_id %>">
          <%= User.find(request.borrower_id).first_name %> <%= User.find(request.borrower_id).last_name %> 
          </a> wants to borrow <%= book.title %>.
        </p>
        <p>
          <p>Books are due <em>7 days</em> from checkout by default</p>
          <form method="post" action="/books/:id/lend">
            <input type="hidden" name="book_id" value="<%= book.id %>">
            <input type="hidden" name="borrower_id" value="<%= request.borrower_id %>">
            <input type="hidden" name="checkout" value="<%= Date.today %>">
            <label>Due date: </label><input type="date" name="due" value="<%= (Date.today + 7.days) %>">
            <input type="hidden" name="request_id" value="<%= request.id %>">
            <button class="btn button">Approve Request</button>
          </form>
        </p>
          <form method="post" action="/books/:id/denied">
            <input type="hidden" name="book_id" value="<%= book.id %>">
            <input type="hidden" name="request_id" value="<%= request.id %>">
            <button class="btn button">Deny Request</button>
          </form>
    <% end %>
  <% end %>
  <hr/>
  <h3>Books you requested</h3>
    <% if ( requests = Request.where(borrower_id: @user.id) ) %>
      <% requests.each do |request| %>
        <% if request.attended_to == false %>
          <p>
          Your request for <a href="/users/<%= request.owner_id %>"><%= User.find(request.owner_id).first_name %>  <%= User.find(request.owner_id).last_name %></a> book: <%= request.book.title %> is still pending...
          </p>
          <hr />
        <% end %>
      <% end %>
    <% end %>
    <% if ( requests = Request.where(borrower_id: @user.id) ) %>
      <% requests.each do |request| %>
        <% if request.attended_to == true && request.accepted == true && request.book.lends.find_by(checkin: nil) %>
          <p>
            Your request for <a href="/users/<%= request.owner_id %>"><%= User.find(request.owner_id).first_name %>  <%= User.find(request.owner_id).last_name %></a> book: <%= request.book.title %> was approved! View <a href="/books/<%= request.book.id %>">book now</a>
          </p>
          <hr />
        <% end %>
      <% end %>
    <% end %>
    <% if ( requests = Request.where(borrower_id: @user.id) ) %>
      <% requests.each do |request| %>
      <% if request.attended_to == true && request.accepted == false %>
         <p>
            Your request for <a href="/users/<%= request.owner_id %>"><%= User.find(request.owner_id).first_name %>  <%= User.find(request.owner_id).last_name %></a> book: <%= request.book.title %> was denied. Try requesting <a href="/books/<%= request.book.id %>">here again</a> to see if the owner changes their mind.
         </p>
        <% end %>
      <% end %>
   <% end %>
    </div>      
  </div>
    <div class=" col-lg-9 main-right">
        <div class='row shelves'>
            <div class="row inner-shelves">
                <div class="col-sm-3 book-container">
                    <a href="/books/new">
                        <img src="/images/addbook.ico">
                        <div class="add-book">Add book</div>
                    </a>  
                </div>
                <% @user.books.each_with_index do |book, index| %>
                    <% if index < 3 %>
                        <div class="col-sm-3 book-container">
                            <a href="/books/<%= book.id %>">
                                <img src= <%= book.picture_url %> >
                                <% if current_user && current_user.id == book.user_id && book.lends.find_by(checkin: nil) %>
                                    <div class="book-lentout">Loaned</div>
                                <% elsif current_user && current_user.id == book.user_id %>
                                    <div class="book-own">Owned</div>
                                <% elsif book.lends && current_user && book.lends.find_by(borrower_id: current_user.id) %>
                                    <div class="book-borrowed">Borrowed</div>
                                <% else %>
                                    <div class="book-borrow">Request</div>
                                <% end %>
                            </a>
                        </div>
                    <% end %> 
                <% end %> 
            </div>    
        </div>   

        <% if @user.books.length > 3 %>
            <% @user.books[3..-1].each_slice(4) do |books| %>       
                <div class='row shelves'>
                    <div class="row inner-shelves">
                        <% books.each do |book| %>
                            <div class="col-sm-3 book-container">
                                <a href="/books/<%= book.id %>">
                                    <img src= <%= book.picture_url %> >
                                    <% if current_user && current_user.id == book.user_id && book.lends.find_by(checkin: nil) %>
                                        <div class="book-lentout">Loaned</div>
                                    <% elsif current_user && current_user.id == book.user_id %>
                                        <div class="book-own">Owned</div>
                                    <% elsif book.lends && current_user && book.lends.find_by(borrower_id: current_user.id) %>
                                        <div class="book-borrowed">Borrowed</div>
                                    <% else %>
                                        <div class="book-borrow">Request</div>
                                    <% end %>
                                </a>
                            </div>
                        <% end %>
                    </div>    
                </div>
            <% end %>
        <% end %> 

        <% if @lends %> 
            <% @lend_book_id.each_slice(4) do |books_id| %>       
                <div class='row shelves'>
                    <div class="row inner-shelves">
                        <% books_id.each do |id| %>
                            <div class="col-sm-3 book-container">
                                <a href="/books/<%= id %>">
                                    <img src= <%= Book.find(id).picture_url %> >
                                    <div class="book-borrowed">Borrowed</div>
                                </a>
                            </div>
                        <% end %>
                    </div>    
                </div>
            <% end %>
        <% end %>  
    </div>
</div>


