<!-- This is the page to show other user's profile -->

<div class="row profile-photobar">
  <div class='col-sm-3 profile-photo'>
    <img src=<%= @user.picture_url%>>
  </div>
  <div class="col-sm-4 profile-info">
    <%= @user.first_name %> <%= @user.last_name %>
  </div>
</div>

<div class="row  profile-background-wall">
  <div class=" col-lg-3 main-left"></div>
  <div class=" col-lg-9 main-right">       
    <% @user.books.each_slice(4) do |books| %>       
      <div class='row shelves'>
        <div class="row inner-shelves">
          <% books.each do |book| %>
            <div class="col-sm-3 book-container">
              <a href="/books/<%= book.id %>">
                <img src= <%= book.picture_url %> >
                <% if current_user && current_user.id == book.user_id && book.lends.find_by(checkin: nil) %>
                    <div class="book-lentout">Loaned</div>
                <% elsif current_user && current_user.id == book.user_id %>
                    <div class="book-own">Owned</div>
                <% elsif book.lends && current_user && book.lends.find_by(borrower_id: current_user.id) %>
                    <div class="book-borrowed">Borrowed</div>
                <% elsif (book.lends && lend = book.lends.find_by(checkin: nil)) %>
                    <div class="book-lend">Unavailable</div>
                <% else %>
                    <div class="book-borrow">Request</div>
                <% end %>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
