<div class="container" >
<div class="row">
  <div class=" col-lg-3 main-left">
    <div class='profile-photo'>
      <img src=<%= @user.picture_url%>>
    </div>
    <div class="profile-info">
    Welcome!
    </div>
    <div class="profile-info">
      <%= @user.first_name %> <%= @user.last_name %>
    </div>

  </div>
  <div class=" col-lg-9 main-right">
    <div class='row shelves'>
      <div class="row inner-shelves">
        <div class="col-sm-3 book-container">
          <a href="/books/new">
            <img src="http://www.iconarchive.com/download/i42578/oxygen-icons.org/oxygen/Actions-address-book-new.ico">
            <div class="add-book">Add book</div>
          </a>  
        </div>
        <% @user.books.each_with_index do |book, index| %>
          <% if index < 3 %>
            <div class="col-sm-3 book-container">
              <a href="/books/<%= book.id %>">
                <img src= <%= book.picture_url %> >
                <div class="book-own">Your book</div>
              </a>
            </div>
          <% end %> 
        <% end %> 
      </div>    
    </div>   

    <% @user.books[3..-1].each_slice(4) do |books| %>       
      <div class='row shelves'>
        <div class="row inner-shelves">
          <% books.each do |b| %>
            <div class="col-sm-3 book-container">
              <a href="/books/<%= b.id %>">
              <img src= <%= b.picture_url %> >
              <div class="book-own">Your book</div>
              </a>
            </div>
          <% end %>
        </div>    
      </div>
    <% end %>
</div>