<div class="header">
  <h1>Sign Up</h1>
</div>
<hr />
<div class="holder">
  <form method="post" action="/users">
    <label>First Name: </label> <input type="text" name="first_name" value="<%= @user.first_name %>">
    <label>Last Name: </label> <input type="text" name="last_name" value="<%= @user.last_name %>">
    <p>
      <label>Username: </label> <input type="text" name="username" value="<%= @user.username %>">
    </p>
    <p>
      <label>Email: </label> <input type="text" name="email" value="<%= @user.email %>"> 
    </p>   
    <p>
      <label>Password: </label> <input type="text" name="password" value="<%= @user.password %>">
    </p>
    <button type="submit" class="button">Sign Up</button>

  </form>
</div> 