<% if @book && @book.errors.any? %>
     <div>
       <strong>Some issues in the book details you tryna save, please fix them:</strong>
       <ul>
         <% @book.errors.full_messages.each do |message| %>
           <li><%= message %></li>
         <% end %>
       </ul>
     </div>
   <% end %>
<p>    

<div class="background-add-book-form">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 header-add-book-form">Update your Book Information</div>
    <div class="col-sm-12 white-space"></div>
    <div class="col-sm-12 white-space"></div>
  </div>
  <div class="row">
      <div class="col-md-6 add-book-form-update-book">
          <form method="post" id="new-book" action="/books/:id/edit">
              <input  type="hidden" name="book_id" value = <%= @book && @book.id %>>
            <input  type="text" id="title" name = "title" placeholder=" Title" class="add-book-form-control" value="<%= @book && @book.title %>">

            <div class="form_line">
              <input  type="text" id="author" name="author" value="<%= @book && @book.author %>" placeholder=" Author" class="add-book-form-control">
            </div>

            <div class="form_line">
              <input  type="text" id="isbn" name="isbn" value="<%= @book && @book.isbn %>" placeholder=" ISBN" class="add-book-form-control">
            </div>

            <div class="form_line">
                <input type="text" id="url" name="url" value="<%= @book && @book.picture_url %>"placeholder=" Picture URL (optional)" class="add-book-form-control">
            </div>

            <div class="form_line">
                <textarea class="add-book-form-control" name="description" id="description" rows="100" cols="50" placeholder=" Enter description about the book..."><%=@book && @book.description %></textarea>
            </div>
             <div >
              <button class="button btn-lg btn-primary addbook-button">Update Book</button>
            </div>
        </form>              
      </div>

  </div>  
</div>
