<div class="row">
    <div class="col-sm-12 ">
        <h1><%= @book.title %></h1>
    </div>
    <div class="col-sm-12 white-space">
    </div>
    <div class="col-sm-1 profile_thumb">
        <a href=<%="/users/" + @book.user_id.to_s %>><img src="<%= @book.user.picture_url %>"></a>
    </div>
    <div class="col-sm-3 book-container-large">
        <!-- For book cover photo -->
        <img src="<%= @book.picture_url %>" />
        <!-- For book status information -->
        <% if ( lend = @book.lends.find_by(checkin: nil) ) %>
            <h2>Book Lend Info</h2>
            <p>This book is currently not available</p>
            <p>
            <label>Book was lent to: </label>
            <%= User.find(lend.borrower_id).first_name %>  <%= User.find(lend.borrower_id).last_name %>   
            </p>
            <p>
            <label>Checkout date was: </label><%= lend.checkout %>
            </p>
            <p>
            <label>Book should be returned by: </label><%= lend.due %>
            </p>
        <% end %>
    </div>                
    <div class="col-sm-5">
        <!-- For book detail information -->
        <p>
        <strong>Author: <%= @book.author %></strong>
        </p>
        <div class="description">
            <p>
            Description:
            </p>
            <p>
            <%= @book.description %>
            </p>
        </div>
        <p>
        Added on: <%= @book.created_at.to_formatted_s(:long_ordinal) %>
        </p>
    <div>
    <!-- For request a book  -->
    <% if current_user && current_user.id == @book.user_id %>
      <form method="get" action="/books/:id/edit"c>
        <input type="hidden" name="book_id" value="<%= @book.id %>">
        <input type="hidden" name="book" value="<%= @book %>">
        <button class="btn button">Edit Book</button>
      </form>
    <% elsif @book.requests && ( request = @book.requests.find_by(attended_to: false) ) %>
      <% if request.borrower_id == current_user.id %>
            <span class="button">Request Sent</span>
      <% end %>
     <% elsif current_user.id != @book.id && !@book.lends.find_by(checkin: nil) %>
        <form method="post" action="/books/:id/request">
          <input type="hidden" name="book_id" value="<%= @book.id %>">
          <input type="hidden" name="borrower_id" value="<%= current_user.id %>">
          <input type="hidden" name="owner_id" value="<%= @book.user.id %>">
          <button id="btn_request_book" class="btn button">Request Book</button>
      </form> 
   <% elsif @book.requests.find_by(accepted: true) && @book.lends.find_by(checkin: nil) && current_user.id != @book.lends.find_by(checkin: nil).borrower_id %>
          <span class="btn button">Book Unavailable</span>
    <% elsif lendd = @book.lends.find_by(checkin: nil) %>
      <% if current_user.id == lendd.borrower_id %>
          <form method="post" action="/books/:id/return">
            <input type="hidden" name="lend_id" value="<%= lend && lend.id %>">
            <input type="hidden" name="book_id" value="<%= @book.id %>">
            <input type="hidden" name="checkin" value="<%= Date.today %>">
            <button class="btn button">Return Book</button>
      <% end %>
          </form>           
      <% end %>

      <% if (@distance != 0) %>
      <p>This book is <span id="distance"><%= @distance %> miles</span> away from you.</p>    
      <button id="btn_show_map" class="btn button" >Show Map</button>
      <button id="btn_close_map" class="btn button" >Close Map</button>
      <p>
      <div class="cover_map"></div>
      <iframe id = "map" style="height: 400px; width: 600px" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCVt89sOKkehU7JDQpPncShX80rzGE6kj4&origin=<%= current_user.address %>&destination= <%= @book.user.address %> &avoid=tolls|highways"></iframe>
      </p>
    <% else %>
        <p> You own this book </p>
    <% end %>
  </div> 

  <div class="col-sm-5">
<!-- For book detail information -->     
      <div class="white-space"></div>
  </div> 
 
<!-- For google map distance -->
    
  </div>  
</div>

<div class="box_reviews">
 <hr/>
  <% if current_user %>
    <% unless @book.reviews.find_by(user_id: current_user.id)  %>
      <h4>Add Reviews</h4>
      <form action="/books/:id/review" method="post">
        <input type="hidden" name= "book_id" value="<%= @book.id %>">
        <input type="hidden" name="current_user" value="<%= current_user.id %>">
        <p>Review by: <%= current_user.first_name %>  <%= current_user.last_name %></p>
        <label>Review: </label>
        <p>
        <textarea class="add-book-form-control"  name="text" id="description" rows="100" cols="50" placeholder=" Enter a review about the book..."></textarea>
        </p>
        <label>Rating: </label>
        <select name="rating" value="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <p>
        <button type="submit" class="btn button">Submit Review</button>
        </p>
      </form>
    <% end %>
  <% else %>
    <p>
      <h3>You must <a href="/">Sign In or Sign Up</a> to review this song</h3>
    </p>
  <% end %>
 

<div class="list_of_reviews">
  <% if @book.reviews %>
    <h2>Reviews by Users</h2>
    <hr />
    <% @book.reviews.each do |review| %>
      <p>
        Name: <%= User.find_by(id: review.user_id).first_name %>  <%= User.find_by(id: review.user_id).last_name %>
      </p>
      <p>
        Ratings: <%= review.rating %>
      </p>
      <p>
        <%= review.text %>             
      </p>
      <p>
        <% if current_user.id == User.find_by(id: review.user_id).id %>
          <form method="post" action="/delete/review">
          <input name="_method" type="hidden" value="delete" />
          <input type="hidden" name="book_id" value="<%= @book.id %>">
          <input type="hidden" name="review_id" value="<%= review.id %>">
            <button type="submit" class="button">Delete Review</button>
          </form>
        <% end %>
      </p>
      <hr />
    <% end %>
  <% end %>
  </div>
</div>
